# Bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.env/
.venv/

# Arquivos de configuração do editor/IDE
.vscode/
.idea/
*.iml

# Dependências instaladas
pip-log.txt
pip-delete-this-directory.txt

# Logs e arquivos temporários
*.log
*.out
*.swp

# Arquivos do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Build e distribuição
build/
dist/
*.egg-info/
*.egg
